body {
    font-family: Arial, sans-serif;
  }
div {
    border: 20px;
    width: 150px;
    height: 200px;
    border-color: black;
    background-color: grey;
}
#ravharris {
    color: black;
}
