body {
    font-family: Arial, sans-serif;
}

#third {
    height: 250px;
    width: 500px;
    margin: 20px;
    padding: 20px;
    background-color: grey;
    color: black;
    border: 5px solid black;
}

#ravharris {
    color: black;
    background-color: transparent;
}
