body {
    font-family: Arial, sans-serif;
  }
div {
    border: 20px;
    width: 30%;
    height: 50%;
    border-color: black;
    background-color: grey;
}
#ravharris {
    color: black;
}
